<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>com.PIS.controller.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>com.PIS.controller.updateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProfile</servlet-name>
        <servlet-class>com.PIS.controller.showProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.PIS.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>com.PIS.controller.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLogin</servlet-name>
        <servlet-class>com.PIS.controller.HomeLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditExpenseCategory</servlet-name>
        <servlet-class>com.PIS.controller.EditExpenseCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExpCat</servlet-name>
        <servlet-class>com.PIS.controller.AddExpCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExpense</servlet-name>
        <servlet-class>com.PIS.controller.DeleteExpense</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExpenseCategory</servlet-name>
        <servlet-class>com.PIS.controller.UpdateExpenseCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExpCat</servlet-name>
        <servlet-class>com.PIS.controller.UpdateExpCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomeCategory</servlet-name>
        <servlet-class>com.PIS.controller.IncomeCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenseCat</servlet-name>
        <servlet-class>com.PIS.controller.ExpenseCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIncomeCategory</servlet-name>
        <servlet-class>com.PIS.controller.UpdateIncomeCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIncome</servlet-name>
        <servlet-class>com.PIS.controller.DeleteIncome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddIncCat</servlet-name>
        <servlet-class>com.PIS.controller.AddIncCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIncCat</servlet-name>
        <servlet-class>com.PIS.controller.UpdateIncCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>expence</servlet-name>
        <servlet-class>com.PIS.controller.expence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenceController</servlet-name>
        <servlet-class>com.PIS.controller.ExpenceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Income</servlet-name>
        <servlet-class>com.PIS.controller.Income</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomeController</servlet-name>
        <servlet-class>com.PIS.controller.IncomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankBook</servlet-name>
        <servlet-class>com.PIS.controller.BankBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashBook</servlet-name>
        <servlet-class>com.PIS.controller.CashBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalanceSheet</servlet-name>
        <servlet-class>com.PIS.controller.BalanceSheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayBook</servlet-name>
        <servlet-class>DayBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProfile</servlet-name>
        <url-pattern>/showProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/UpdateUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeLogin</servlet-name>
        <url-pattern>/HomeLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExpenseCategory</servlet-name>
        <url-pattern>/EditExpenseCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExpCat</servlet-name>
        <url-pattern>/AddExpCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExpense</servlet-name>
        <url-pattern>/DeleteExpense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExpenseCategory</servlet-name>
        <url-pattern>/UpdateExpenseCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExpCat</servlet-name>
        <url-pattern>/UpdateExpCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomeCategory</servlet-name>
        <url-pattern>/IncomeCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenseCat</servlet-name>
        <url-pattern>/ExpenseCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIncomeCategory</servlet-name>
        <url-pattern>/UpdateIncomeCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIncome</servlet-name>
        <url-pattern>/DeleteIncome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddIncCat</servlet-name>
        <url-pattern>/AddIncCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIncCat</servlet-name>
        <url-pattern>/UpdateIncCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>expence</servlet-name>
        <url-pattern>/expence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenceController</servlet-name>
        <url-pattern>/ExpenceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Income</servlet-name>
        <url-pattern>/Income</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomeController</servlet-name>
        <url-pattern>/IncomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankBook</servlet-name>
        <url-pattern>/BankBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashBook</servlet-name>
        <url-pattern>/CashBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalanceSheet</servlet-name>
        <url-pattern>/BalanceSheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayBook</servlet-name>
        <url-pattern>/DayBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
